{% extends "base.html" %}

{% block main_content %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <br><br>
    <div class="container">  
        <div class="row">     
            <div class="col-3"></div> 
            <div class="col-6" align="center">
                <h1>Search Photos by Geolocation</h1>
            </div>
            <div class="col-3"></div> 
        </div>
        <br><br>
        <div class="row">     
            <div class="col-3"></div> 
            <div class="col-3">
                {{ form.latitude.label_tag }}                                    
            </div>
            <div class="col-3">{{ form.latitude }}</div> 
            <div class="col-3">
                <small class="text-danger">{{ form.latitude.errors }}</small>
            </div> 
        </div>
        <div class="row">     
            <div class="col-3"></div> 
            <div class="col-3">
                {{ form.longitude.label_tag }}                                    
            </div>
            <div class="col-3">{{ form.longitude }}</div> 
            <div class="col-3">
                <small class="text-danger">{{ form.longitude.errors }}</small>
            </div> 
        </div>
        <br>
        <div class="row">     
            <div class="col-3"></div> 
            <div class="col-6" align="center">
                <button type="submit">Search</button>
            </div>
            <div class="col-3"></div> 
        </div>
    </div>
    </form>
{% endblock %}